body {
	font-family:monospace;
  font-size: medium;
  margin: 8px;
}


#container {
  display: flex;
  justify-content: center;
}

@media (max-width:600px) {
  #container { 
    display: block;
  }
}

.colorpicker{
  border: 0;
}

.btn{
  margin: 0.25em;
}

.column{
  float: left;
  padding: 2rem;
}

.rowtitle{
  min-width: 16ch;
}

table.toggles{
  padding-bottom: 10px; 
}

table.toggles td{
  padding: 10px;
}

.customizeColors{
  padding: 2em 0em;
}
