<!DOCTYPE html>
<html>

<head>

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/tooltip.css')}}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="{{url_for('static', filename='scripts/html2canvas.js')}}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<title>Archives</title>
</head>

<body>

	<ul class="nav justify-content-center ">
		<li class="nav-item">
		  <a class="nav-link active" href="/">Home</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/archive/1">Archives</a>
		</li>
	</ul>

	
	<div style="display: flex;">
		<input type="text" class="input-group-text" id="search" oninput="search()" placeholder="Search" style="width: 50%;">
		<button class="btn btn-primary btn-sm" id='prevPage'>Previous</button>
		<button class="btn btn-primary btn-sm" id='nextPage'>Next</button>
	</div>
	<table class="table table-hover" id="results">
		<thead class="table-dark">
			<tr>
				<th>Link</th>
				<th>Time Created</th>
				<th>Sequence</th>
			</tr>
		</thead>
		<tbody id="resultsBody">
		</tbody>
	</table>
	<script type="text/javascript">
		var data = {{ data | safe}};

		var rows = data.rows;
		var page = data.pagenum;

		var lastSearch;


		document.getElementById("prevPage").onclick = goPrevPage;
		document.getElementById("nextPage").onclick = goNextPage;

		

		function decodeBase62(c) {
			code = c;
			var timestamp = 0;
			var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
			for (var i = 0; i < code.length; i++) {
				timestamp += chars.indexOf(code[(code.length - 1) - i]) * Math.pow(62, i);
			}
			if (timestamp != 0) {
				timestamp = timestamp / 100;
			}
			return timestamp;
		}

		function populateTable(data){
			document.getElementById("prevPage").disabled = page < 2;
			document.getElementById("nextPage").disabled = data.length < 21;
			
			$('#resultsBody').empty();
			for (var i = 0; i < data.length; i++) {
				if (i == 21) break;
				var time = new Date(decodeBase62(data[i]['id']));
				var readabletime = time.toLocaleString('en-US', { year: "2-digit", month: "2-digit", day: "2-digit", hour: "2-digit", minute: "2-digit", second: "2-digit" });
				var str = [""
					, "<tr>"
					, "<td><a href='http://" + document.domain + ":" + location.port + "/dboutput/" + data[i]['id'] + "'>" + data[i]['id'] + "<\/a><\/td>"
					, "<td nowrap id='" + time.toString() + "' >" + readabletime + "<\/td>"
					, "<td nowrap>" + data[i]['seq'] + "<\/td>"
					, "<\/tr>"
				].join("").replace(",", "");

				$('#resultsBody').append(str);
			}
		}

		function goPrevPage(){
			page--;
			search();
		}
		function goNextPage(){
			page++;
			search();
		}


		function search(){
			let allowedChars = "ARNDCEQGHILKMFPSTWYV"
			allowedChars += allowedChars.toLowerCase();
			let query = document.getElementById("search").value;
			query = query.toUpperCase();
			query = Array.from(query).filter(c => allowedChars.includes(c)).join("");
			document.getElementById("search").value = query;
			if (lastSearch == query+page){
				return;
			}
			lastSearch = query;
			fetch("/searchArchive/" + page + "/" + query)
			.then(response => {
				response.json()
				.then(json => {
					page = json.pagenum;
					populateTable(JSON.parse(json.rows))
				})})

		}

		search();





	</script>
</body>

</html>