<!DOCTYPE html>
<html>
<head>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js" type="text/javascript">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
	</script>
	<title>Archives</title>
</head>
<body style="font-family:Consolas;">
	<div>CTRL+F to find your sequence</div>
	<div><a id='prevPage' style='display:initial' href=''>Previous</a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a id='nextPage' href=''>Next</a></div>
	<table border="1" id="myTable">
		<tbody>
			<tr>
				<td>Link</td>
				<td>Time Created</td>
				<td>Sequence</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript">


	   //var times = {{timedata}};
	   //var names = {{namedata | safe}};
	   //var seq = {{seqdata | safe}};

		var data = {{data | safe}};
		var page = {{ pagenum }};
		console.log(document.location.origin)

		var prevNum = page - 1;
		var nextNum = page + 1;
		

		var prevURL = document.location.origin + '/archive/' + prevNum;
		var nextURL = document.location.origin + '/archive/' + nextNum;
		document.getElementById("nextPage").setAttribute('href', nextURL);
		document.getElementById("prevPage").setAttribute('href', prevURL);

		if (prevNum < 1){
			document.getElementById("prevPage").removeAttribute("href");
		}

	   //$.each(times, function(index,value){

	   //});


		function decodeBase62(c){
			code  = c;
			var timestamp = 0;
			var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
			for (var i=0; i < code.length; i++){
				timestamp += chars.indexOf(code[(code.length-1) - i]) * Math.pow(62, i);
			}
			if (timestamp != 0){
				timestamp = timestamp / 100;
			}
			return timestamp;
		}


	   for (var i=0; i < data.length; i++) {
	       var time = new Date(decodeBase62(data[i]['id']));
	       var readabletime  = time.toLocaleString('en-US', {year : "2-digit", month : "2-digit", day : "2-digit", hour : "2-digit", minute : "2-digit", second: "2-digit"});
	       var str = [""
	                 ,"<tr>"
	                 ,"<td><a href='http://" + document.domain + ":" + location.port + "/dboutput/" + data[i]['id'] +"'>" + data[i]['id'] + "<\/a><\/td>"
	                 ,"<td nowrap id='" + time.toString() + "' >"+ readabletime +"<\/td>"
	                 ,"<td nowrap>"+ data[i]['seq']+"<\/td>"
	                 ,"<\/tr>"
	                 ].join("").replace(",","");
	       
	      $('#myTable').append(str);
	   }
	   
	   

	   function sortTable() {
	    var table, rows, switching, i, x, y, shouldSwitch;
	    table = document.getElementById("myTable");
	    switching = true;
	    /*Make a loop that will continue until
	    no switching has been done:*/
	    while (switching) {
	      //start by saying: no switching is done:
	      switching = false;
	      rows = table.rows;
	      /*Loop through all table rows (except the
	      first, which contains table headers):*/
	      for (i = 1; i < (rows.length - 1); i++) {
	        //start by saying there should be no switching:
	        shouldSwitch = false;
	        /*Get the two elements you want to compare,
	        one from current row and one from the next:*/
	        x = rows[i].getElementsByTagName("TD")[0];
	        y = rows[i + 1].getElementsByTagName("TD")[0];
	        //check if the two rows should switch place:
	        if (x.innerHTML < y.innerHTML) {
	          //if so, mark as a switch and break the loop:

	          shouldSwitch = true;
	          break;
	        }
	      }
	      if (shouldSwitch) {
	        /*If a switch has been marked, make the switch
	        and mark that a switch has been done:*/
	        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
	        switching = true;
	      }
	    }
	   }

	   sortTable();




	</script>
</body>
</html>