<html>
<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body style="font-family:Consolas">	
<div>
	{% block content %}
		<form method="POST" action=""> 
			{{ form.hidden_tag() }}
			{% if form.errors %}
    				<ul class="errors">
        				{% for field_name, field_errors in form.errors|dictsort if field_errors %}
            					{% for error in field_errors %}
                					<li> {{ error }}</li>
            					{% endfor %}
        				{% endfor %}
    				</ul>
			{% endif %}
			{{ form.seqtext.label }}
			<br>
			{{ form.seqtext(cols="50", rows="4") }}
			<br>
			<button id="clearbtn" type="button">Clear Sequence</button>
			<button id="genbtn" type="button">Generate Random Sequence</button>
			<br>
			{{ form.email.label }}
			{{ form.email }}
			<br>	
			<table onclick = "checkCount()">
				Send sequence to:
				<tr>
					<td>
						{{ form.JPred }}
						{{ form.JPred.label }}
					</td>
					<td>
						{{ form.PSI }}
						{{ form.PSI.label }}
					</td>
					<td>
						{{ form.PSS }}
						{{ form.PSS.label }}
					</td>
				</tr>
				<tr>
					<td>
						{{ form.RaptorX }}
						{{ form.RaptorX.label }}
					<td>
						{{ form.Sable }}
						{{ form.Sable.label }}
					</td>
					<td>
						{{ form.Yaspin }}
						{{ form.Yaspin.label }}
					</td>
				</tr>
				<tr>
					<td>
						{{ form.SSPro }}
						{{ form.SSPro.label }}
					</td>
				</tr>
			</table>
			<input type="reset"></input>
			{{ form.submitbtn() }}
		</form>
	{% endblock  %}
</div>


<div> 
-----------------------------------------------------------------------------------
<br />
<br />
<br />Upon submission, you will be redirected to a page showing your sequence 
<br />The page will reload every 30 seconds displaying results as they are completed
<br />
<br />Typical Wait Times for Sequence of 150 Residues  
<br />&nbsp;&nbsp;&nbsp;&nbsp;PSI: <1 minute
<br />&nbsp;Yaspin: 1-3 minutes (Often offline)
<br />&nbsp;&nbsp;&nbsp;&nbsp;PSS: 1-3 minutes	(Currently broken)
<br />&nbsp;&nbsp;Jpred: 3-5 minutes
<br />&nbsp;&nbsp;Sable: 5-7 minutes
<br />RaptorX: 5-7 minutes	
<br />&nbsp;&nbsp;SSPro: 8 minutes
<br />
<br />
<br />An email containing the final results will be sent to the address provided above
<br />
<br /><a href="/archive" target="_blank">All previously submitted results can be found by clicking here</a>
</div>


<script type="text/javascript" >
	$('#clearbtn').on('click', function() {
		$('#seqtext').val("");
	});

	$('#genbtn').on('click', function() {
		$('#seqtext').val(randSeq());
	});

	function randSeq() {
  		 var result           = '';
   		 var characters       = 'ACDEFGHIKLMNPQRSTVWY';
  		 var charactersLength = characters.length;
		 var length = Math.floor(Math.random() * 140) + 60 
   		 for ( var i = 0; i < length; i++ ) {
    		 	result += characters.charAt(Math.floor(Math.random() * charactersLength));
   		 }
   		 return result;
	}
	
	function checkCount()
	{
		checks = $('input[type="checkbox"]:checked').length;
		submit = document.getElementById('submitbtn');
		
		if(checks <= 0)
			submit.disabled = true;
		else
			submit.disabled = false;
	}
</script>
</body>
</html>