<html>
<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body style="font-family:Consolas">	
<div>
	{% block content %}
		<form method="POST" action=""> 
			{{ form.hidden_tag() }}
			{% if form.errors %}
    				<ul class="errors">
        				{% for field_name, field_errors in form.errors|dictsort if field_errors %}
            					{% for error in field_errors %}
                					<li> {{ error }}</li>
            					{% endfor %}
        				{% endfor %}
    				</ul>
			{% endif %}
			{{ form.seqtext.label }}
			<br>
			{{ form.seqtext(cols="50", rows="4") }}
			<br>
			<!-- <button id="clearbtn" type="button" onclick="clearseq()">Clear Sequence</button> -->
			<br>
			{{ form.email.label }}
			{{ form.email }}
			<br>	
			<table onclick = "checkCount()">
				Send sequence to:
				<tr>
					<td>
						{{ form.JPred(value='true') }}
						{{ form.JPred.label }}
					</td>
					<td>
						{{ form.PSI(value='true') }}
						{{ form.PSI.label }}
					</td>
					<td>
						{{ form.PSS(value='true') }}
						{{ form.PSS.label }}
					</td>
				</tr>
				<tr>
					<td>
						{{ form.RaptorX(value='true') }}
						{{ form.RaptorX.label }}
					<td>
						{{ form.Sable(value='true') }}
						{{ form.Sable.label }}
					</td>
					<td>
						{{ form.Yaspin(value='true') }}
						{{ form.Yaspin.label }}
					</td>
				</tr>
				<tr>
					<td>
						{{ form.SSPro(value='true') }}
						{{ form.SSPro.label }}
					</td>
				</tr>
			</table>
			<input type="reset"></input>
			{{ form.submitbtn() }}
		</form>
	{% endblock  %}
</div>
<script type="text/javascript" >
	function clearseq() 
	{
		seqtext = document.getElementById('seqtext');
		seqtext.innerHTML = "";
	}
	
	function checkCount()
	{
		checks = $('input[type="checkbox"]:checked').length;
		submit = document.getElementById('submitbtn');
		
		if(checks <= 0)
			submit.disabled = true;
		else
			submit.disabled = false;
	}
</script>
</body>
</html>